<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="backbtn" routerLink="/home" routerDirection="back">
      <ion-icon name="arrow-back-outline"></ion-icon>
      <ion-title>Cart</ion-title>
    </div>
    <ion-buttons slot="end">
      <ion-button
        class="cart"
        class="profile"
        routerLink="/orders-history"
        routerDirection="forward"
      >
        <ion-icon name="reload-circle-outline"> color="dark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item *ngFor="let product of cartItems">
      <ion-thumbnail slot="start">
        <img [src]="'data:image/jpg;base64,' +product.Product?.Image" />
      </ion-thumbnail>
      <ion-label>
        <h1>{{ product.Product?.Name }}</h1>
        <p>Description: {{ product.Product?.Description }}</p>
        <p>Price: {{ product.Product?.Price }}</p>
        <p>Quantity: {{product.Quantity}}</p>
      </ion-label>
      <ion-button (click)="removeFromCart(product.Id)" slot="end" color="danger"
        >Remove</ion-button
      >

      <ion-button
        (click)="updateQuantity(product.Id, product.Quantity - 1)"
        slot="end"
        color="primary"
        >-</ion-button
      >
      <ion-button
        (click)="updateQuantity(product.Id, product.Quantity + 1)"
        slot="end"
        color="primary"
        >+</ion-button
      >
    </ion-item>
  </ion-list>
  <ion-item>
    <ion-label>Total Price: {{ totalPrice | currency }}</ion-label>
    <ion-button (click)="checkout()" slot="end" color="secondary"
      >Checkout</ion-button
    >
  </ion-item>
</ion-content>
